<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container">
    <h2>Edit Task</h2>
    <form id="edit-task-form" action="{{ url_for('edit', index=todo['index']) }}" method="post" class="edit-task-form">
      <input type="text" name="todo" id="task-input" value="{{ todo['task'] }}" required>
      <button type="submit">Save</button>
    </form>
  </div>

  <script>
    const form = document.getElementById('edit-task-form') 